* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-position: 8vh 0;
  background-color: #f1ecce;
}

.header {
  height: 8vh;
}

/*NAVBAR*/

.nav {
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 2vh;
  padding-bottom: 3vh;
  border-bottom: #0000001a solid 2px;
}

.nav-logo {
  width: 16rem;
  margin-left: 4vw;
  margin-right: auto;
}

.nav__ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-right: auto;
}

.nav__li {
  display: inline-block;
  padding: 1.2rem 2rem;
}

.nav__li a:hover {
  border: transparent solid 2px;
  border-radius: 17% 83% 18% 82% / 98% 0% 100% 2%;
  background-color: #4caa2d50;
}

.nav__li a {
  transition: all 0.4s ease;
  border: transparent solid 2px;
  border-radius: 11px;
  padding: 1.2rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
}

.nav-cta {
  align-self: center;
  width: 14rem;
  height: 4rem;
  border: none;
  border-radius: 11px;
  background-color: #2d880e;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  margin-right: 4vw;
  transition: ease-in-out all 0.2s;
}

.nav-cta:hover {
  background-color: #fff;
  color: #2d880e;
}

.active a {
  border: #2d880e inset 2px;
  background-color: rgba(0, 255, 13, 0.05);
}

.hero {
  height: 90vh;
  /*display: flex;*/

  /* gap: 9.6rem; */
  width: 100%;
  margin: 0 auto;
  padding-top: 4.8rem;
}

.card-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

p {
  font-size: 1.5rem;
}

/*cards*/

.card {
  user-select: none;
  background-color: #4caa2d1c;
  display: flex;
  text-align: center;
  min-width: 30%;
  padding: 5%;
  margin: 4%;
  border: #000 solid 2px;
  border-radius: 10px;
  flex-grow: 0.00001;
  transition: flex-grow 0.5s linear;
  cursor: zoom-in;
}

.card h2 {
  font-size: large;
  margin: auto;
}

.card p {
  font-size: 0px;
  padding: 5%;
  margin: auto;
  font-size: 0px;
  transition: all 1s;
}

.card-active {
  align-self: flex-end;
  cursor: zoom-out;
  flex-grow: 2;
}

.card-active > p {
  display: block;
  font-size: 1.5rem;
}
