* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 8vh;
}

.nav {
  width: 96vw;
  display: flex;
  margin: 0 auto;
  margin-top: 2vh;
}

.nav-logo {
  width: 16rem;
  margin-right: auto;
}

.nav__ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-right: auto;
}

.nav__li {
  display: inline-block;
  padding: 1.2rem 2rem;
  border-radius: 11px;
  transition: all 0.4s ease;
}

.nav__li:hover {
  background-color: #4dd32050;
}

.nav__li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
}

.nav-cta {
  align-self: center;
  width: 14rem;
  height: 4rem;
  border: none;
  border-radius: 11px;
  background-color: #2d880e;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  /* gap: 9.6rem; */
  width: 90vw;
  margin: 0 auto;
  padding-top: 4.8rem;
}

.hero .text-box {
  margin-top: 12.8rem;
  margin-left: 6.4rem;
  position: relative;
}

.hero .img-box {
  margin-top: 6.4rem;
  width: 64rem;
}

.hero__img {
  width: 90%;
}

.hero h1 {
  color: #2d880e;

  font-size: 9.6rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
  width: 80rem;
}

.hero p {
  font-size: 6.4rem;
  color: #7aec53;
  font-weight: 700;
}

.sun__icon {
  width: 17rem;
  position: absolute;
  top: -24%;
  left: 50%;
  transform: translateX(-50%);
}
