* {
	font-family: 'Fira Code';
	box-sizing: border-box;
}

/*NAVBAR*/
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 5vw;
	display: flex;
	background-color: rgb(27, 27, 27);
	justify-content: end;
}
.navbarlist {
	margin-right: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbaritem {
	margin: 10px;
	padding: 20px 20px;
	list-style-type: none;
	text-transform: uppercase;
	color: rgb(196, 183, 183);
	transform-origin: center;
	transition: all 200ms;
}

.navbaritem:hover {
	cursor: default;
	transition: ease-in-out 200ms;
	border: transparent;
	background-color: rgba(46, 46, 46, 0.7);
	border-radius: 2px;
	transform: scale(1.2);
	transform: translateY(10px);
}

/* ČLANOVI */

.clanovistart .clanovimid .clanoviend {
	display: block;
	max-height: fit-content;
}

.pozadina {
	right: 0;
	left: 0;
	z-index: -1;
	position: absolute;
	background-position: center;
	width: 100vw;
	height: 1000px;
	max-height: inherit;
	background-repeat: repeat;
	background-size: contain;
	background-image: url('https://images7.alphacoders.com/122/1228014.png');
}

.prvired {
	width: 70vw;
	position: absolute;
	bottom: 50%;
	right: 15vw;
	left: 15vw;
	height: inherit;
}
