*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--cream);
}

:root {
	--darkgreen: #37371f;
	--lightgreen: #6ba368;
	--cream: #f2e5d7;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

body {
	height: 100%;
}

.header {
	border-bottom: 1px solid #c7c7c7aa;
}

/* NAVIGATION */

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2.2rem 0;
	font-size: 1.8rem;
}

.nav__ul {
	list-style: none;
}

.nav__li {
	display: inline-block;
	text-align: center;
	padding: 0.8rem 1.8rem;
	border-bottom: 2px solid var(--darkgreen);
	font-size: 1.6rem;
	transition: all 0.4s;
}

.nav__li:not(:last-child) {
	margin-right: 3.2rem;
}

.nav__li:hover {
	background-color: var(--lightgreen);
	cursor: pointer;
	transform: scale(1.2);
}
.nav__li:hover a {
	color: rgb(255, 255, 255);
}

.nav__li a {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.4px;
	color: rgb(43, 49, 63);
}

/* MAIN */
.center {
    text-align: center;
  }
.title{
    font-size: 2rem;
    padding: 2rem 0;
    letter-spacing: 4px;
    color: var(--darkgreen);
}
.text {
	font-size: 20px;
    line-height: 1.6;
}