* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--cream);
}

:root {
	--darkgreen: #37371f;
	--lightgreen: #6ba368;
	--cream: #f2e5d7;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

body {
	height: 100%;
}

.header {
	border-bottom: 1px solid #c7c7c7aa;
}

/* NAVIGATION */
.logo__img{
	width: 20rem;
	transition: transform 2.5s,rotate 2.5s;
  }
  
  .logo__img:hover{
	transform: scale(1.5);
	rotate: 360deg;
  }
  
  .logo__container--img {
	text-align: left;
	margin-left: 1vw;
	margin-top: 1vw;
	margin-bottom: -18rem;
  }

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2.2rem 0;
	font-size: 1.8rem;
}

.nav__ul {
	list-style: none;
}

.nav__li {
	display: inline-block;
	text-align: center;
	padding: 0.8rem 1.8rem;
	border-bottom: 2px solid var(--darkgreen);
	font-size: 1.6rem;
	transition: all 0.4s;
}

.nav__li:not(:last-child) {
	margin-right: 3.2rem;
}

.nav__li:hover {
	background-color: var(--lightgreen);
	cursor: pointer;
	transform: scale(1.2);
}
.nav__li:hover a {
	color: rgb(255, 255, 255);
}

.nav__li a {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.4px;
	color: rgb(43, 49, 63);
}

/* MAIN */

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 70%;
	margin: 0 auto;
	margin-top: 12.8rem;
	padding-bottom: 12.8rem;
	text-align: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.hero__title {
	font-size: 6.4rem;
	margin-bottom: 2.8rem;
	color: var(--lightgreen);
}

.hero__description {
	font-size: 2.4rem;
	display: inline-block;
	color: var(--darkgreen);
}

.hero__container--img {
	text-align: center;
}

.hero__img {
	width: 40rem;
}

/* TEAM */
.section--team {
	width: 100%;
	padding: 9.6rem 0;
	min-height: 40vh;
	border-bottom: 1px solid #c7c7c7aa;
}

.team__container {
	width: 88%;
	margin: 0 auto;
	justify-items: center;
}

.team__heading {
	width: fit-content;
	font-size: 3.2rem;
	color: var(--darkgreen);
	letter-spacing: 6px;
	margin-bottom: 6.4rem;
}

.team__grid1 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/* width: 60%; */
	margin: 0 auto;
	/* margin-top: 6.4rem; */
	justify-content: center;
	row-gap: 6.4rem;
	column-gap: 4.8rem;
}
.team__grid2 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/* width: 60%; */
	margin: 0 auto;
	/* margin-top: 6.4rem; */
	justify-content: center;
	row-gap: 6.4rem;
	column-gap: 4.8rem;
}

.team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-items: center;
}

.team__pic {
  height: 12.8rem;
  width: 12.8rem;
  transition: transform 1s,margin 1s;
}


.team__pic:hover + .member__name{
  transform: scale(1.4);
}

.team__pic:hover{
  transform: scale(1.5);
  margin: 2rem;
}

.member__name {
  font-size: 2.2rem;
  color: #525252;
  transition: transform 1s;
}

/* PROJECT SECTION */
.section--project {
	padding: 7.2rem 0;
	padding-bottom: 14.8rem;
}

.project__heading {
	font-size: 3.2rem;
	color: var(--darkgreen);
	letter-spacing: 6px;
	margin-bottom: 5.4rem;
	text-align: center;
}

.project__container {
	position: relative;
	width: 96%;
	height: 56rem;
	margin: 0 auto;
	border-radius: 20px;
	background-color: var(--darkgreen);
}

.random-white {
	position: absolute;
	height: 96%;
	width: 96%;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--cream);
	outline: 1px ridge var(--darkgreen);
	outline-offset: -1rem;
}

/* Karlo */
.karlo__heading{
  font-size: 3.2rem;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 6.4rem;
}

.karlo__heading:before{
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 29vw;
  margin-right: 1vw;
  border-top: 3px solid;
  border-color: var(--lightgreen);
}

.karlo__heading:after{
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 29vw;
  margin-left: 1vw;
  border-top: 3px solid;
  border-color: var(--lightgreen);
}

/* FOOTER */
.footer {
	background-color: var(--lightgreen);
	height: 10rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.copyright {
	color: #fff;
	font-size: 1.8rem;
}

@media (max-width: 650px) {
	.hero__img {
		width: 100%;
	}
	.team__grid2 {
		margin-top: 6.4rem;
	}
	.hero__container {
		justify-content: start;
	}
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}